:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2f303a;
  --secondary-accent-color: #f5f4fa;
  --text-color-contact: #757575;
  --highlight-text-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: #000;
}

/*navbar*/
.menu-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--highlight-text-color);
}

.head-contact-mail:hover,
.head-contact-tel:hover,
.head-contact-mail:focus,
.head-contact-tel:focus {
  color: #2196f3;
}

.head-contact-mail,
.head-contact-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
}

.current-link {
  color: var(--highlight-text-color);
}

/*logo*/
.logo {
  text-decoration: none;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: black;
}

.logo-color {
  color: #2196f3;
}

/* ===============MAIN=============== */

.heroes {
  background-color: var(--accent-color);
}

.heroes-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.heroes-btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.heroes-btn:hover,
.heroes-btn:focus {
  background-color: #188ce8;
}

/*ABOUT US*/

.about-us-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.about-us-description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color-contact);
}

/*WHAT WE DO (PHOTO)*/

.our-work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

/*OUR command*/

.our-command-section {
  background-color: var(--secondary-accent-color);
}

.our-command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-command-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.our-command-position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color-contact);
}

/* ===============FOOTER=============== */

.contact-section {
  background-color: var(--accent-color);
}

/*address*/
.footer-contact {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.logo-footer {
  color: #ffffff;
}

.local {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contact-tel,
.footer-contact-mail {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
